Repository pavelzw/yolo-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-jsonschema

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi envs are up to date
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run -e lint mixed-line-ending
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # check-jsonschema
      - id: check-jsonschema
        name: Check rattler recipes
        language: system
        entry: pixi run -e lint check-jsonschema --schemafile https://raw.githubusercontent.com/prefix-dev/recipe-format/main/schema.json
        files: ^[^/]+/recipe.yaml$
        types: [yaml]

Update pixi lockfile
  pixi.lock
Due: none

add xcede, adjust yap recipe
  .github/workflows/build.yml
  xcede/recipe.yaml
  yap/recipe.yaml
Due: check-jsonschema

.
  .github/workflows/build.yml
  pixi.lock
  pixi.toml
Due: taplo

?
  .github/workflows/build.yml
Due: none

WIP
  .github/workflows/build.yml
Due: none

WIP
  xcede/recipe.yaml
  yap/recipe.yaml
Due: check-jsonschema

WIP
  yap/recipe.yaml
Due: check-jsonschema

add xcede, adjust yap recipe (#31)
  .github/workflows/build.yml
  pixi.lock
  pixi.toml
  xcede/recipe.yaml
  yap/recipe.yaml
Due: taplo, check-jsonschema

comment package summary in pull request
  .github/workflows/build.yml
Due: none

comment package summary in pull request (#34)
  .github/workflows/build.yml
Due: none

Update pixi.toml
  pixi.toml
Due: taplo

add exclude-newer (#40)
  pixi.toml
Due: taplo

add bricks, moer, web3270
  README.md
  _typos.toml
  bricks/recipe.yaml
  moer/recipe.yaml
  moer/variants.yaml
  web3270/recipe.yaml
  xcede/recipe.yaml
  yap/recipe.yaml
Due: taplo, check-jsonschema

fix: skip moer on win, pin setup-swift to v2.4.0 for xcede
  .github/dependabot.yml
  .github/workflows/build.yml
  moer/recipe.yaml
Due: check-jsonschema

add bricks, moer, web3270 (#46)
  .github/dependabot.yml
  .github/workflows/build.yml
  README.md
  _typos.toml
  bricks/recipe.yaml
  moer/recipe.yaml
  moer/variants.yaml
  web3270/recipe.yaml
  xcede/recipe.yaml
  yap/recipe.yaml
Due: taplo, check-jsonschema

add 3270bbs
  3270bbs/recipe.yaml
  README.md
Due: check-jsonschema

add 3270bbs (#47)
  3270bbs/recipe.yaml
  README.md
Due: check-jsonschema
