Repository pavelzw/yolo-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, check-jsonschema

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi envs are up to date
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run -e lint mixed-line-ending
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # check-jsonschema
      - id: check-jsonschema
        name: Check rattler recipes
        language: system
        entry: pixi run -e lint check-jsonschema --schemafile https://raw.githubusercontent.com/prefix-dev/recipe-format/main/schema.json
        files: ^[^/]+/recipe.yaml$
        types: [yaml]

add starship
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  starship/build.bat
  starship/build.sh
  starship/recipe.yaml
Due: check-jsonschema

fix
  starship/recipe.yaml
Due: check-jsonschema

fix
  .github/workflows/build.yml
  starship/recipe.yaml
Due: check-jsonschema

fix
  .github/workflows/pre-commit.yml
Due: none

fix
  pixi.lock
  pixi.toml
Due: taplo

add starship (#2)
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  pixi.lock
  pixi.toml
  starship/build.bat
  starship/build.sh
  starship/recipe.yaml
Due: taplo, check-jsonschema

fix windows package uploading
  .github/workflows/build.yml
Due: none

fix overlinking issues
  starship/recipe.yaml
Due: check-jsonschema

bump
  starship/recipe.yaml
Due: check-jsonschema

fix windows package uploading (#3)
  .github/workflows/build.yml
Due: none

add codeowners
  .github/CODEOWNERS
Due: none

add codeowners (#5)
  .github/CODEOWNERS
Due: none

Mention pixi documentation
  README.md
Due: none

Mention pixi documentation (#6)
  README.md
Due: none

Update pixi lockfile
  pixi.lock
Due: none

bump starship
  starship/recipe.yaml
Due: check-jsonschema

bump starship (#8)
  starship/recipe.yaml
Due: check-jsonschema

rebuild starship with newer rattler-build version
  starship/recipe.yaml
Due: check-jsonschema

rebuild starship with newer rattler-build version (#11)
  starship/recipe.yaml
Due: check-jsonschema

Use run constraints instead of run exports
  starship/recipe.yaml
Due: check-jsonschema

Use run constraints instead of run exports (#12)
  starship/recipe.yaml
Due: check-jsonschema

bump starship (#13)
  starship/recipe.yaml
Due: check-jsonschema

Use starship from main
  starship/recipe.yaml
Due: check-jsonschema

Use starship from main (#14)
  starship/recipe.yaml
Due: check-jsonschema

Use upstream starship
  starship/recipe.yaml
Due: check-jsonschema

Delete starship/build.bat
  starship/build.bat
Due: none

Delete starship/build.sh
  starship/build.sh
Due: none

Update recipe.yaml
  starship/recipe.yaml
Due: check-jsonschema

Use upstream starship (#15)
  starship/build.bat
  starship/build.sh
  starship/recipe.yaml
Due: check-jsonschema

remove starship, add yap
  README.md
  starship/recipe.yaml
  yap/recipe.yaml
Due: check-jsonschema

no strict for now
  yap/recipe.yaml
Due: check-jsonschema

remove starship, add yap (#18)
  README.md
  starship/recipe.yaml
  yap/recipe.yaml
Due: check-jsonschema
